# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Visual Studio files
.vs/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# React
/build
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db

# Project specific
/mytodolist.client/dist/
/MyToDoList.API/bin/
/MyToDoList.API/obj/
